<form #airportEditForm="ngForm" (ngSubmit)="airportEditForm.form.valid && saveAirport(this.airport)">
  <div class="container rounded bg-white mt-5 mb-5 form-group">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="../../../../assets/images/airport.jpg" /><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span></div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Airport Information</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 form-group">
              <label class="labels">Airport Name</label>
              <input required type="text" id="airportName" class="form-control my-2" [(ngModel)]="airport.airportName" name="airportName" #airportName="ngModel" [ngClass]="{ 'is-invalid': airportName.touched && airportName.invalid }" required minlength="3" />

              <div class="invalid-feedback" *ngIf="airportName.touched && airportName.invalid">
                <p *ngIf="airportName.errors!.required">Airport name is required!</p>
                <p *ngIf="airportName.errors!.minlength">Airport name must be at least 3 characters long!</p>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6 form-group">
              <label class="labels">Country</label>
              <input required type="text" id="country" class="form-control my-2" [(ngModel)]="airport.country" name="airportCountry" #airportCountry="ngModel" [ngClass]="{ 'is-invalid': airportCountry.touched && airportCountry.invalid }" required minlength="3" />

              <div class="invalid-feedback" *ngIf="airportCountry.touched && airportCountry.invalid">
                <p *ngIf="airportCountry.errors!.required">Country is required!</p>
                <p *ngIf="airportCountry.errors!.minlength">Country must be at least 3 characters long!</p>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 form-group">
              <label class="labels">Address</label>
              <input required type="text" id="airportAddress" class="form-control my-2" [(ngModel)]="airport.address" name="address" #airportAddress="ngModel" [ngClass]="{ 'is-invalid': airportAddress.touched && airportAddress.invalid }" required minlength="6" />

              <div class="invalid-feedback" *ngIf="airportAddress.touched && airportAddress.invalid">
                <p *ngIf="airportAddress.errors!.required">Address is required!</p>
                <p *ngIf="airportAddress.errors!.minlength">Address must be at least 6 characters long!</p>
              </div>
            </div>

            <div class="col-md-12 form-group">
              <label for="buildYear" class="col-form-label">Buildyear</label>
              <input
                required
                type="date"
                class="form-control my-2"
                [ngModel]="airport.buildYear | date : 'yyyy-MM-dd'"
                (ngModelChange)="airport.buildYear = $event"
                name="buildYear"
                #buildYear="ngModel"
                [ngClass]="{ 'is-invalid': buildYear.touched && buildYear.invalid }"
                required
                max="{{ dateToday | date : 'yyyy-MM-dd' }}"
              />

              <div class="invalid-feedback" *ngIf="buildYear.touched && buildYear.invalid">
                <p *ngIf="buildYear.errors!.required">Buildyear is required!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="btn-group text-center" role="group">
                <div class="col-md-12">
                  <button type="submit" routerLink="../" (click)="saveAirport(airport)" class="btn btn-primary mx-2" [disabled]="!airportEditForm.valid">Submit</button>
                  <button type="submit" routerLink="../" class="btn btn-primary btn-warning mx-2">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</form>
