<div *ngIf="user != null">
  <div class="card mx-auto" style="width: 24rem;">
    <div class="card-header">
      <h5 class="my-1">User details</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">First name: {{ user?.firstName }}</li>
      <li class="list-group-item">Last name: {{ user?.lastName }}</li>
      <li class="list-group-item">Email address: {{ user?.email }}</li>
      <li class="list-group-item">Phone number: {{ user?.phoneNumber }}</li>
      <li class="list-group-item">Date of birth: {{ user?.dateOfBirth!.toLocaleDateString() }}</li>
      <li class="list-group-item">Gender: {{ user?.gender }}</li>
    </ul>
    <div class="card-body">
      <a class="btn btn-secondary" role="button"(click)="cancel()">Go back</a>
    </div>
  </div>
</div>