<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">{{ title }}</a>
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="user" [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" [routerLinkActive]="['active']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="airports" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Airports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gates" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Gates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="airplanes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Airplanes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
            {{ user.firstName + ' ' + user.lastName }}
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
            <a ngbDropdownItem class="dropdown-item" routerLink="/users/{{ user.id }}" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">My profile</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="login" (click)="logout()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Sign out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
