<div class="container rounded bg-white mt-5 mb-5 form">
  <div class="row" *ngIf="airplane">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="150px" src="https://honeywell.scene7.com/is/image/honeywell/AeroBT-s_414384259_Business-Jet_2880x1440" /><span class="font-weight-bold">{{ airplane.airplaneName }}</span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Airplane Information</h4>
        </div>
        <div>
          <ul class="list-group list-group-flush">
            <li id="airplaneName" class="list-group-item">Airplane Name: {{ airplane.airplaneName }}</li>
            <li id="model" class="list-group-item">Model: {{ airplane.model }}</li>
            <li id="fuelcapacity" class="list-group-item">Fuelcapacity (In Liters): {{ airplane.fuelCapacity }} L</li>
            <li id="length" class="list-group-item">Length (In m): {{ airplane.length }} m</li>
            <li id="wingspan" class="list-group-item">Wingspan (In m): {{ airplane.wingSpan }} m</li>
            <li id="height" class="list-group-item">Height (In m): {{ airplane.height }} m</li>
            <li id="engine" class="list-group-item">Engine: {{ airplane.engine }}</li>
            <li id="buildYear" class="list-group-item">Buildyear: {{ airplane.buildYear.toLocaleDateString() }}</li>
            <li id="weigthClass" class="list-group-item">Weight Class: {{ airplane.weightClass }}</li>
          </ul>
        </div>
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Warning!</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              <strong
                >Are you sure you want to delete <span class="text-primary">"{{ airplane.airplaneName }}"</span></strong
              >
            </p>
            <p>
              All information associated to this airplane will be permanently deleted.
              <span class="text-danger">This operation can NOT be undone.</span>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="c('Cancel click')">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteAirplane(); c('Delete click')">Ok</button>
          </div>
        </ng-template>

        <div class="row">
          <div class="col-md-12 text-center">
            <div class="btn-group text-center" role="group">
              <div class="col-md-12">
                <button id="editButton" *ngIf="this.isOwner" class="btn btn-primary profile-button mx-2" routerLink="edit">Edit Airplane</button>
                <button id="deleteButton" *ngIf="this.isOwner" class="btn btn-danger profile-button mx-2" (click)="open(content)">Delete</button>
                <button id="goBackButton" class="btn btn-primary btn-dark profile-button mx-2" (click)="goBack()">Go Back</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
