<div class="container rounded bg-white mt-5 mb-5 form">
  <div class="row" *ngIf="airplane">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="https://honeywell.scene7.com/is/image/honeywell/AeroBT-s_414384259_Business-Jet_2880x1440"
        /><span class="font-weight-bold">{{ airplane.airplanename }}</span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Airplane Settings</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 form-group">
            <label class="labels">Airplane Name</label>
            <p>{{ airplane.airplanename }}</p>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 form-group">
            <label class="labels">Model</label>
            <p>{{ airplane.model }}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 form-group">
            <label class="labels">Fuelcapacity (In Cl )</label>
            <p>{{ airplane.fuelcapacity }}</p>
          </div>
          <div class="col-md-12 form-group">
            <label class="labels">Length (In Cm)</label>
            <p>{{ airplane.length }}</p>
          </div>
          <div class="col-md-12 form-group">
            <label class="labels">Wingspan (In Cm)</label>
            <p>{{ airplane.wingspan }}</p>
          </div>
          <div class="col-md-12 form-group">
            <label class="labels">heigth (In Cm)</label>
            <p>{{ airplane.heigth }}</p>
          </div>
          <div class="col-md-12 form-group">
            <label class="labels">Engine</label>
            <p>{{ airplane.engine }}</p>
          </div>
          <div class="col-md-12 form-group">
            <label class="labels">Weigt Class</label>
            <p>{{ airplane.weight }}</p>
          </div>
          <div class="col-md-12 form-group">
            <label class="labels">Buildyear</label>
            <p>{{ airplane.buildyear.toLocaleDateString() }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="btn-group text-center" role="group">
            <div class="col-md-12">
              <button class="btn btn-primary profile-button mx-2" routerLink="edit">Edit Airplane</button>
              <button class="btn btn-danger profile-button mx-2" (click)="deleteAirplane()" type="button">Delete Airplane</button>
              <button type="submit" routerLink=".." class="btn btn-primary btn-dark mx-2">Go Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
