<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-10">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>AirWizard</h3>
    <p>
      Deze website zal als functionaliteit hebben dat piloten kunnen bekijken waar zij willen en/of kunnen landen op verschillende vliegvelden.
      Er is informatie op te halen over verschillende vliegvelden, de gates die deze vliegvelden hebben en de vliegtuigen die hier al eventueel staan.
      Het is mogelijk de details van een gate te wijzigen stel dat deze in onderhoud is of iets dergelijks. Ook kan een vliegveld nieuwe gates aanleggen.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Jelmar Dekker</h5>
        <p class="card-text">Studentnummer: 2177170</p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<p>
  De Entiteiten die deze applicatie bevatten zijn als volgt: Een vliegveld, een gate/landingsbaan en een vliegtuig. De specifieke attributen van deze entiteiten
  zijn hieronder te zien. Een vliegveld heeft een aantal gates. Een gate kan maximaal een vliegtuig tegelijk ontvangen. Een gate kan ook geen vliegtuig hebben. De user entiteit zal een birthdate van het type DATE hebben en een gender die uit een ENUM gender kan
  worden geselecteerd. De User zal ook andere users kunnen volgen en activiteiten van deze users zien.
</p>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Airport</p>
    <ul>
      <li>airportName: string</li>
      <li>airportId: Guid</li>
      <li>address: string</li>
      <li>gates: Gate[]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Gate</p>
    <ul>
      <li>gateName: string</li>
      <li>gateId: Guid</li>
      <li>waitingRoomCapacity: number</li>
      <li>currentAirplane: Airplane</li>
      <li>airport : Airport</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Airplane</p>
    <ul>
      <li>planeId: Guid</li>
      <li>airplaneName: string</li>
      <li>model: string</li>
      <li>buildYear: Date</li>
      <li>fuelCapacity: number</li>
      <li>length: number</li>
      <li>wingspan: number</li>
      <li>heigth: number</li>
      <li>engine: string</li>
      <li>weightClass: weightClass (ENUM)</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>User</p>
    <ul>
      <li>userId: Guid</li>
      <li>firstName: string</li>
      <li>lastName: string</li>
      <li>emailAddress: string</li>
      <li>phoneNumber: string</li>
      <li>dateOfBirth: date</li>
      <li>gender: gender (ENUM)</li>
      <li>ownedAirplanes : Airplane[]</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>ERD</p>
    <img src="assets/images/erdAirportCasusdrawio.drawio.png" alt="..." />
    <p>Documentmodel (Omdat ik de opdracht herkans wordt alles in een ERD gedaan, het documentmodel wordt niet meer gebruikt)</p>
    <img src="assets/images/documentmodel.drawio.png" alt="..." />
  </div>
</div>

<!-- <div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div> -->
