<form>
    <div class="container rounded bg-white mt-5 mb-5 form-group">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img
              class="rounded-circle mt-5"
              width="150px"
              src="https://honeywell.scene7.com/is/image/honeywell/AeroBT-s_414384259_Business-Jet_2880x1440"
            /><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span>
          </div>
        </div>
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Airplane Settings</h4>
            </div>
            <div class="row mt-2">
              <div class="col-md-6 form-group">
                <label class="labels">Airplane Name</label>
                  <input required type="text" id="airplaneName" class="form-control my-2" [(ngModel)]="airplane.airplaneName" name="airplanename" #airplanename="ngModel"
                  [ngClass]="{'is-invalid': airplanename.invalid}" minlength="3" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6 form-group">
                <label class="labels">Model</label>
                  <input required type="text" id="airplaneModel" class="form-control my-2" [(ngModel)]="airplane.model" name="model" #model="ngModel"
                  [ngClass]="{'is-invalid': model.invalid}" minlength="3" />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12 form-group">
                <label class="labels">Fuelcapacity</label>
                  <input required type="text" id="airplaneFuelcapacity" class="form-control my-2" [(ngModel)]="airplane.fuelCapacity" name="fuelcapacity" #fuelcapacity="ngModel"
                   [ngClass]="{'is-invalid': fuelcapacity.invalid}" minlength="1"/>
              </div>
  
              <div class="col-md-12 form-group">
                <label class="labels">Length</label>
                  <input required type="text" id="airplaneLength" class="form-control my-2" [(ngModel)]="airplane.length" 
                    name="length" #length="ngModel" [ngClass]="{'is-invalid': length.invalid}" minlength="1" />
              </div>

              <div class="col-md-12 form-group">
                <label class="labels">Wingspan</label>
                  <input required type="text" id="airplaneWingspan" class="form-control my-2" [(ngModel)]="airplane.wingspan" 
                    name="wingspan" #wingspan="ngModel" [ngClass]="{'is-invalid': wingspan.invalid}" minlength="1" />
              </div>

              <div class="col-md-12 form-group">
                <label class="labels">Heigth</label>
                  <input required type="text" id="airplaneHeigth" class="form-control my-2" [(ngModel)]="airplane.heigth" 
                    name="heigth" #heigth="ngModel" [ngClass]="{'is-invalid': heigth.invalid}" minlength="1" />
              </div>

              <div class="col-md-12 form-group">
                <label class="labels">Engine</label>
                  <input required type="text" id="airplaneEngine" class="form-control my-2" [(ngModel)]="airplane.engine" 
                    name="engine" #engine="ngModel" [ngClass]="{'is-invalid': engine.invalid}" minlength="1" />
              </div>

              <div class="col-md-12 form-group">
                <label for="buildyear" class="col-form-label">Buildyear</label>
                  <input required type="date" class="form-control my-2" [ngModel]="airplane.buildYear | date:'yyyy-MM-dd'" (ngModelChange)="airplane.buildYear = $event" 
                    name="buildyear" #buildyear="ngModel" [ngClass]="{'is-invalid': buildyear.invalid}" [max]="dateToday">
              </div>
  
              <div class="col-md-12 form-group">
                <label for="gender" class="col-form-label">Weight</label>
                <select required (change)="weightToObject()" class="custom-select form-control my-2" id="weight" name="weight" [(ngModel)]="airplane.weight" #weight="ngModel">
                  <option *ngFor="let weight of weights">{{weight}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12 text-center">
            <div class="btn-group text-center" role="group">
              <div class="col-md-12">
                <button type="submit" routerLink=".." (click)="saveAirplane(airplane)" class="btn btn-primary mx-2">Submit</button>
                <button type="submit" routerLink=".." class="btn btn-primary btn-warning mx-2">Cancel</button>
              </div>
            </div>
          </div>
      </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </form>
  