
<form #airplaneEditForm="ngForm" (ngSubmit)="airplaneEditForm.form.valid && saveAirplane(this.airplane)">
    <div class="container rounded bg-white mt-5 mb-5 form-group">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img
              class="rounded-circle mt-5"
              width="150px"
              src="https://honeywell.scene7.com/is/image/honeywell/AeroBT-s_414384259_Business-Jet_2880x1440"
            /><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span>
          </div>
        </div>
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Airplane Information</h4>
            </div>
            <div class="row mt-2">
              <div class="col-md-6 form-group">
                <label class="labels">Airplane Name</label>
                  <input required type="text" id="airplaneName" class="form-control my-2" [(ngModel)]="airplane.airplaneName" name="airplaneName" #airplaneName="ngModel"
                  [ngClass]="{'is-invalid': airplaneName.touched && airplaneName.invalid}" required minlength="3" />

                  <div class="invalid-feedback" *ngIf="airplaneName.touched && airplaneName.invalid">
                    <p *ngIf="airplaneName.errors!.required">Airplane name is required!</p>
                    <p *ngIf="airplaneName.errors!.minlength">Airplane name must be at least 3 characters long!</p>
                  </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-6 form-group">
                <label class="labels">Model</label>
                  <input required type="text" id="airplaneModel" class="form-control my-2" [(ngModel)]="airplane.model" name="model" #model="ngModel"
                  [ngClass]="{'is-invalid': model.touched && model.invalid}" required minlength="2" />

                  <div class="invalid-feedback" *ngIf="model.touched && model.invalid">
                    <p *ngIf="model.errors!.required">Model is required!</p>
                    <p *ngIf="model.errors!.minlength">Model must be at least 2 characters long!</p>
                  </div>
              </div>

            </div>
            <div class="row mt-3">
              <div class="col-md-12 form-group">
                <label class="labels">Fuelcapacity (L)</label>
                  <input type="number" id="airplaneFuelcapacity" class="form-control my-2" [(ngModel)]="airplane.fuelCapacity" name="fuelcapacity" #fuelcapacity="ngModel" 
                   [ngClass]="{'is-invalid': fuelcapacity.touched && fuelcapacity.invalid}" required min="1"/>

                   <div class="invalid-feedback" *ngIf="fuelcapacity.touched && fuelcapacity.invalid">
                    <p *ngIf="fuelcapacity.errors!.required">Fuel capacity is required and must be a number!</p>
                    <p *ngIf="fuelcapacity.errors!.min">Fuel capacity can not be less than 1</p>
                  </div>
              </div>
  
              <div class="col-md-12 form-group">
                <label class="labels">Length (m)</label>
                  <input required type="number" id="airplaneLength" class="form-control my-2" [(ngModel)]="airplane.length" 
                    name="length" #length="ngModel" [ngClass]="{'is-invalid': length.invalid}" required min="1" />

                    <div class="invalid-feedback" *ngIf="length.touched && length.invalid">
                        <p *ngIf="length.errors!.required">Length is required and must be a number!</p>
                        <p *ngIf="length.errors!.min">Length can not be less than 1</p>
                    </div>
              </div>

              <div class="col-md-12 form-group">
                <label class="labels">Wingspan (m)</label>
                  <input required type="number" id="airplaneWingspan" class="form-control my-2" [(ngModel)]="airplane.wingSpan" 
                    name="wingspan" #wingSpan="ngModel" [ngClass]="{'is-invalid': wingSpan.invalid}" required min="1" />

                    <div class="invalid-feedback" *ngIf="wingSpan.touched && wingSpan.invalid">
                        <p *ngIf="wingSpan.errors!.required">Wingspan is required and must be a number!</p>
                        <p *ngIf="wingSpan.errors!.min">Wingspan can not be less than 1</p>
                    </div>
              </div>

              <div class="col-md-12 form-group">
                <label class="labels">Height (m)</label>
                  <input required type="number" id="airplaneHeight" class="form-control my-2" [(ngModel)]="airplane.height" 
                    name="height" #height="ngModel" [ngClass]="{'is-invalid': height.invalid}" required min="1" />

                    <div class="invalid-feedback" *ngIf="height.touched && height.invalid">
                        <p *ngIf="height.errors!.required">Height is required and must be a number!</p>
                        <p *ngIf="height.errors!.min">Height can not be less than 1</p>
                    </div>
              </div>

              <div class="col-md-12 form-group">
                <label class="labels">Engine</label>
                  <input required type="text" id="airplaneEngine" class="form-control my-2" [(ngModel)]="airplane.engine" 
                    name="engine" #engine="ngModel" [ngClass]="{'is-invalid': engine.invalid}" required minlength="3" />

                    <div class="invalid-feedback" *ngIf="engine.touched && engine.invalid">
                        <p *ngIf="engine.errors!.required">Engine is required!</p>
                        <p *ngIf="engine.errors!.minlength">Engine  must be at least 3 characters long</p>
                    </div>
              </div>

              <div class="col-md-12 form-group">
                <label for="buildYear" class="col-form-label">Buildyear</label>
                  <input required type="date" class="form-control my-2" [ngModel]="airplane.buildYear | date:'yyyy-MM-dd'" (ngModelChange)="airplane.buildYear = $event" 
                    name="buildYear" #buildYear="ngModel" [ngClass]="{'is-invalid': buildYear.touched && buildYear.invalid}" required max="{{dateToday | date:'yyyy-MM-dd'}}">

                    <div class="invalid-feedback" *ngIf="buildYear.touched && buildYear.invalid">
                        <p *ngIf="buildYear.errors!.required">Buildyear is required!</p>
                      </div>
              </div>
  
              <div class="col-md-12 form-group">
                <label for="gender" class="col-form-label">Weight Class</label>
                <select required (change)="weightToObject()" class="custom-select form-control my-2" id="weight" name="weight" [(ngModel)]="airplane.weightClass" #weight="ngModel">
                  <option *ngFor="let weight of weights">{{weight}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12 text-center">
            <div class="btn-group text-center" role="group">
              <div class="col-md-12">
                <button id="saveAirplane" type="submit" routerLink="../" (click)="saveAirplane(airplane)" class="btn btn-primary mx-2"
                 [disabled]="!airplaneEditForm.valid">Submit</button>
                <button type="submit" routerLink="../"  class="btn btn-primary btn-warning mx-2">Cancel</button>
              </div>
            </div>
          </div>
      </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </form>
  