<h4 class="text-center">Gates</h4>
<div class="row" style="padding: 10px">
  <div id="ownerButtons" class="col-md-12 text-left text-center" [hidden]="currentUser?.id != airportOwnerId">
    <div class="col-md-12 text-left text-center">
      <button [routerLink]="['gates/new']" class="btn btn-primary profile-button">Add Gate</button>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">WR Capacity</th>
      <th scope="col">Is Occupied</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gate of gates">
      <a [routerLink]="['/airports', airportId, 'gates', gate.id]">{{ gate.gateName }} </a>
      <td>{{ gate.waitingRoomCapacity }}</td>
      <td>{{ gate.available ? 'Occupied' : 'Available' }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshGates()"> </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshGates()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
    <option [ngValue]="8">8 items per page</option>
    <option [ngValue]="10">10 items per page</option>
  </select>
</div>
