<form >
  <div class="container rounded bg-white mt-5 mb-5 form-group">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img
            class="rounded-circle mt-5"
            width="150px"
            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
          /><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 form-group">
              <label class="labels">First Name</label>
                <input required type="text" id="userFirstname" class="form-control my-2" [(ngModel)]="user.firstName" name="firstname" #firstname="ngModel"
                [ngClass]="{'is-invalid': firstname.invalid}" minlength="3" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 form-group">
              <label class="labels">Last Name</label>
                <input required type="text" id="userLastname" class="form-control my-2" [(ngModel)]="user.lastName" name="lastname" #lastname="ngModel"
                [ngClass]="{'is-invalid': lastname.invalid}" minlength="3" />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6 form-group">
              <label class="labels">Password</label>
                <input required type="text" id="password" class="form-control my-2" [(ngModel)]="user.password" name="password" #password="ngModel"
                [ngClass]="{'is-invalid': password.invalid}" minlength="7" />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12 form-group">
              <label class="labels">Email</label>
                <input required type="email" id="userEmail" class="form-control my-2" [(ngModel)]="user.emailAddress" name="email" #email="ngModel"
                 [ngClass]="{'is-invalid': email.invalid}" minlength="5"/>
            </div>

            <div class="col-md-12 form-group">
              <label class="labels">Phonenumber</label>
                <input required type="text" id="userPhonenumber" class="form-control my-2" [(ngModel)]="user.phoneNumber" 
                  name="phonenumber" #phonenumber="ngModel" [ngClass]="{'is-invalid': phonenumber.invalid}" minlength="8" />
            </div>

            <div class="col-md-12 form-group">
              <label for="dateOfBirth" class="col-form-label">BirthDate</label>
                <input required type="date" class="form-control my-2" [ngModel]="user.dateOfBirth | date:'yyyy-MM-dd'" (ngModelChange)="user.dateOfBirth = $event"
                  name="dateOfBirth" #dateOfBirth="ngModel" [ngClass]="{'is-invalid': dateOfBirth.invalid}" [max]="dateToday">
            </div>

            <div class="col-md-12 form-group">
              <label for="gender" class="col-form-label">Gender</label>
              <select required (change)="genderToObject()" class="custom-select form-control my-2" id="gender" name="gender" [(ngModel)]="user.gender" #gender="ngModel">
                <option *ngFor="let gender of genders">{{gender}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-md-12 text-center">
          <div class="btn-group text-center" role="group">
            <div class="col-md-12">
              <button type="submit" (click)="saveUser(user)" class="btn btn-primary mx-2">Submit</button>
              <button type="submit" routerLink=".." class="btn btn-primary btn-warning mx-2">Cancel</button>
            </div>
          </div>
        </div>
    </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</form>
