<h2>Airplanes</h2>
<div class="row">
  <div class="col-md-12 text-left">
    <button id="newAirplaneButton" [routerLink]="['new']" class="btn btn-primary profile-button">Add Airplane</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Name</th>
      <th scope="col">Model</th>
      <th scope="col">Weight Class</th>
      <th scope="col">Engine</th>
      <th scope="col">Buildyear</th>
      <th scope="col">At Gate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let airplane of airplanes">
      <!-- <th scope="row">{{ airplane.id }}</th> -->
      <a [routerLink]="['/airplanes', airplane.id]">{{ airplane.airplaneName }} </a>
      <td>{{ airplane.model }}</td>
      <td>{{ airplane.weightClass }}</td>
      <td>{{ airplane.engine }}</td>
      <td>{{ airplane.buildYear.toDateString() }}</td>
      <div *ngIf="airplane.gateId != null; else notOccupied">
        <td>{{ airplane.currentGate!.gateName}}</td>
      </div>
      <ng-template #notOccupied>
        <td>{{ 'Currently not Docked' }}</td>
      </ng-template>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshAirplanes()"> </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshAirplanes()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
    <option [ngValue]="8">8 items per page</option>
    <option [ngValue]="10">10 items per page</option>
  </select>
</div>
